{
	"useTabs": true,
	"tabWidth": 2,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxBracketSameLine": true,
	"semi": true,
	"printWidth": 120,
	"singleQuote": false,
	"requirePragma": false
}